.img-contenedor img {
  -webkit-transition: all 1.9s ease;
  -moz-transition: all 1.9s ease;
  -o-transition: all 1.9s ease;
  -ms-transition: all 1.9s ease;
  width: 100%;
}

.img-contenedor:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

.mt-revert {
  margin-top: revert;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
