.container {
    max-width: 1400px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.text h2 {
    margin-bottom: 20px;
    font-size: 5rem;
    color: #9B5176;
}

.text span {
    border-bottom: 8px solid #9B5176;
    font-weight: bold;
}

.button {
    text-align-last: center;
    display: block;
    
}

.btn {
    font-size:x-large;
    padding: auto;
    background-color: #ebe8e8;
    color: #9B5176;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cbcbcb;
}


.image img {
    
    width: 650px;
}