.sticky-bar {

position: relative;


z-index: 10;

}


aside {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Fade in */
  aside::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #393939;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    background-color:none !important;
  }
  
  aside:hover::after,
  aside:focus::after {
    background-color:none !important;
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  
  /* Scale from center */
  li aside::after {
    background-color:none !important;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  li aside:hover::after,
  li aside:focus::after{
    background-color:none !important;
    transform: scale(1);
  }



  .menux{
    --n: 20.321785 0.02476 255.701678 !important;
    --bc: darkred !important;
  }

  body{
    scrollbar-width: thin;  
  }

  .Tab{
    flex: 1 1 0%;
    white-space: nowrap;
    border-bottom-width: 2px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    font-weight: 500;
    color : #C2A78D;
    border-color: transparent;
  }

  .Tab.selected{
    flex: 1 1 0%;
    white-space: nowrap;
    border-bottom-width: 2px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    font-weight: 500;
    color : #95806b;
    border-color: #95806b;
  }

  .Pop{
    position: relative;
    z-index: 10;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding-top: 1px;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    border-color: transparent;
    color : #C2A78D;
  }
  .Pop.selected{
    position: relative;
    z-index: 10;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding-top: 1px;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    color : #95806b;
    border-color: #95806b;


  }